@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Merriweather Sans";
  background-color: hsl(295, 44%, 91%);
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background-color: hsl(16, 100%, 56%);
  border-radius: 5px;
}

h1 {
  background-color: #f08a5d;
  padding: 20px;
  border-radius: 5px;
}

section {
  /* display: inline;
  display: block;
  display: flex; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  flex: 1;
}

.adiv {
  background-color: hsl(343, 51%, 48%);
  color: #fff;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

section > .adiv:nth-child(odd) {
  background-color: hsl(343, 51%, 38%);
}

/* .first-div {
  flex: 1 200px;
}
.second-div {
  flex: 2 200px;
}
.third-div {
  flex: 2 200px;
}
.fourth-div {
  flex: 1 200px;
} */

.palette-two .first-color {
  background-color: #f9ed69;
}

.palette-two .second-color {
  background-color: #f08a5d;
}

.palette-two .third-color {
  background-color: #b83b5e;
}

.palette-two .fourth-color {
  background-color: #6a2c70;
}
