<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="./buttons.css">
    <title>Buttons</title>
</head>
<body>
    <h1>Buttons</h1>
    <h2>Button 1</h2>
    <div id="buttonContainer1">
        <button id="button1">Button 1</button>
    </div>
    <h2>Button 2</h2>
    <div id="buttonContainer2">
        <button id="button2">Button 2</button>
    </div>
    <h2>Button 3</h2>
    <div id="buttonContainer3">
        <button id="button3" class="icon-button3">Button 3</button>
    </div>
    <h2>Button 4</h2>
    <div id="buttonContainer4">
        <button id="button4">Button 4</button>
    </div>
    <h2>Button 5</h2>
    <div id="buttonContainer5">
        <button id="button5">Button 5</button>
    </div>

</body>
</html>