@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  margin: 40px;
}

.card-container {
  width: 400px;
  height: 420px;
  border-radius: 5px;
  padding: 20px;
}

.card {
}

/* CARD 1 */

.card-container-1 {
  background-color: hsl(0, 0%, 63%);
}

.card-1 {
  background-color: #ededed;
  width: 200px;
  height: 300px;
  padding: 30px;
  border-radius: 10px;
}

.card-1 .photo {
  height: ;
}
