@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  margin: 40px;
}

/* CARD 1 */

.card-1 {
  background-color: hsl(0, 0%, 95%);
  position: relative;
  width: 330px;
  height: 480px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#upper-half {
  background-color: #f7dad9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30%;
  position: relative;
}

#upper-half img {
  border-radius: 50%;
  width: 120px;
  position: absolute;
  bottom: -50px;
  left: 100px;
}

#lower-half {
  background-color: #e3fdfd;
  height: 70%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#lower-half i {
  font-size: larger;
  margin-top: 15px;
  margin-left: 295px;
  color: hsl(2, 64%, 70%);
}

#lower-half h4 {
  text-align: center;
  margin: 40px auto;
  font-size: 1.5rem;
  color: #4d4d4d;
}

#social {
  display: flex;
  justify-content: space-around;
}

#followers {
  text-align: center;
  margin-top: 15px;
}

#following {
  text-align: center;
  margin-top: 15px;
}

#social h5 {
  font-size: 1.3rem;
  margin-top: 15px;
  color: #4d4d4d;
}

#followme-btn {
  border: none;
  width: 170px;
  border-radius: 10px;
  padding: 20px;
  background-color: #f7dad9;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-left: 70px;
  cursor: pointer;
}

#followme-btn:hover {
  background-color: #f4cecd;
}

/* CARD 2 */
.card-2 {
  width: 800px;
  height: 260px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  display: flex;
}

#left-half {
  background-color: #6a2c70;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 40%;
  color: #fff;
  padding: 35px 25px;
}

#course-type {
  background-color: #f08a5d;
  padding: 5px;
  border-radius: 30px;
  margin: 5px 5px 5px 160px;
}
#left-half h3 {
  font-size: 1.5rem;
  margin-top: 50px;
}

#right-half {
  padding: 0 25px 0 40px;
  width: 60%;
}

#lessons {
  text-align: end;
  margin-right: 20px;
  margin-bottom: 25px;
  padding-top: 10px;
}

#right-half h4 {
  font-size: 2rem;
  margin-top: 10px;
}

#right-half button {
  background-color: #6a2c70;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 20px;
  width: 120px;
  margin-left: 270px;
  cursor: pointer;
}

#right-half button:hover {
  background-color: hsl(295, 44%, 41%);
}

/* CARD 3 */
.card-3 {
  width: 344px;
  height: 526px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card-3 img {
  width: 100%;
  padding: 15px;
  border-bottom: 2px solid hsl(0, 0%, 85%);
}

.card-3 h3 {
  font-size: 2.3rem;
  padding-left: 25px;
  margin-bottom: 5px;
}

.card-3 small,
.card-3 span {
  color: #28d659;
}

.card-3 small {
  padding-left: 25px;
}

#more-info {
  color: hsl(0, 0%, 50%);
  margin: 25px;
  padding: 10px;
  font-size: 1.4rem;
}
