<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="cards.css">
    <title>Document</title>
</head>
<body>
    <h1>Cards</h1>
    <div class="cards">
        <h2>Card 1</h2>
        <div class="card-container card-container-1">
            <div class="card card-1">
                <div id="upper-half"><img src="../images/44.jpg" alt="Random Person"></div>
                <div id="lower-half">
                    <a href="#0"><i class="fas fa-ellipsis-v"></i>
                    </a>
                    <h4>Steve Collins</h4>
                    <div id="social">
                        <div id="followers">
                            <span id="followers-number">1567</span>
                            <h5>Followers</h5>
                        </div>
                        <div id="following">
                            <span id="following-number">234</span>
                            <h5>Following</h5>
                        </div>
                    </div>
                    <button id="followme-btn">Follow Me</button>
                </div>
            </div>
        </div>
        <h2>Card 2</h2>
        <div class="card-container card-container-2">
            <div class="card card-2">
                <div id="left-half">
                    <span id="course-type">on-line course</span>
                    <h3>Commercial & Product Photography</h3>
                </div>
                <div id="right-half">
                    <p id="lessons">7 Lessons</p>
                    <small>Chapter 5</small>
                    <h4>Lighting & Color</h4>
                    <button id="enroll-btn">Enroll</button>
                </div>
            </div>
        </div>
        <h2>Card 3</h2>
        <div class="card-container card-container-3">
            <div class="card card-3">
                <img src="../images/D_NQ_NP_924723-MLA41413730747_042020-O.webp" alt="Microphone Sennheiser Md-421ii">
                <i class="far fa-heart"></i>
                <h3>$119.99</h3>
                <small>Free Shipping</small>
                <span>15% OFF</span>
                <div id="more-info">
                    <p>Sennheiser Md-421 ii Microphone.</p>
                </div>
            </div>
        </div>
        <h2>Card 4</h2>
        <div class="card-container card-container-4">
            <div class="card card-4">
                <span id="host-rank">Superhost</span>
                <img src="../images/phil-hearing-IYfp2Ixe9nM-unsplash.jpg" alt="Townhouse for rent">
                <div class="info">
                    <i class="far fa-star"></i>
                    <span id="rating">4.82</span>
                    <small>(22 Reviews)</small>
                    <p>Entire townhouse. Pointe-Claire Luxury 3 bedroom townhouse...</p>
                    <span id="price">$23</span><small>/ night</small>
                </div>
            </div>
        </div>
        <h2>Card 5</h2>
        <div class="card-container card-container-5">
            <div class="card card-5">
                <i class="fab fa-apple"></i>
                <img src="../images/MACBOOKPRO2016brightyellowgloss_3388938f-b5d8-4e45-9fd0-4097b71dd9a1_1000x1000.png" alt="macbook air case">
                <div id="info">
                    <h4>MacBook Air Case</h4>
                    <p id="size">Screen Size: <span>13"</span><span>16"</span></p>
                    <p id="color">Color: <span></span><span></span><span></span></p>
                </div>
                <div class="btn-container">
                    <button id="buy-btn">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>